.notification__container {
   position: fixed;
   bottom: 20px;
   left: 20px;
   background-color: var(--color-white);
   padding: 20px;
}
.notification__text {
}
.notification__close {
   position: absolute;
   right: 5px;
   top: 5px;
   background: none;
   width: 15px;
   height: 15px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   cursor: pointer;
   border: none;
}
