.comics__container {
   display: flex;
   flex-wrap: wrap;
}
.comics__item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border: 1px solid yellowgreen;
   flex: 0 1 250px;
   transition: 0.5s;
   background-color: var(--color-light);
   margin: var(--spacing-large);
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -ms-transition: 0.5s;
   -o-transition: 0.5s;
   cursor: pointer;
}
.comics__item:hover {
   transform: rotate(-5deg) scale(0.95);
   -webkit-transform: rotate(-5deg) scale(0.95);
   -moz-transform: rotate(-5deg) scale(0.95);
   -ms-transform: rotate(-5deg) scale(0.95);
   -o-transform: rotate(-5deg) scale(0.95);
   filter: saturate(150%);
   -webkit-filter: saturate(150%);
}
.comics__name {
   display: flex;
   margin: auto;
   padding: var(--spacing-small) var(--spacing-medium);
}
.comics__img {
   max-width: 100%;
   max-height: 100%;
   object-fit: contein;
   object-position: center;
   display: block;
}
